#main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

#main h1 {
  font-size: 4em;
  font-style: italic;
}

#main h3 {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  #main h1 {
    font-size: 8em;
  }

  #main h3 {
    font-size: 4em;
  }
}
